<div class="-rotate-1">
    <div class="relative p-5 bg-gradient-to-tr dark:from-slate-800/20 dark:via-slate-800/50 dark:to-slate-800/20 from-blue-100 via-blue-200 to-blue-100">
        <div class="mb-3 font-semibold text-center text-transparent bg-clip-text bg-gradient-to-tr dark:from-indigo-500 dark:via-sky-300 dark:to-slate-200 from-blue-400 via-cyan-500 to-blue-400">
            {{ 'generic.news_letter' | t }}</div>
        <!-- Form -->
        <div class="w-full">
            <label class="block text-sm sr-only" for="newsletter">Email</label>
            {% form_tag 'sign_in_with_baklib' %}
                <div class="relative flex items-center max-w-xs mx-auto">
                    <input value="true" type="hidden" name="sign_up">
                    <input id="newsletter" type="email" class="form-input py-1.5 w-full pr-10 rounded-full" placeholder="Your email">
                    <button type="submit" class="absolute inset-0 left-auto" aria-label="Subscribe">
                        <svg class="w-3 h-3 mx-3 text-indigo-500 fill-current shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.707 5.293L7 .586 5.586 2l3 3H0v2h8.586l-3 3L7 11.414l4.707-4.707a1 1 0 000-1.414z" fill-rule="nonzero"></path>
                        </svg>
                    </button>
                </div>
            {% endform_tag %}

            <!-- Success message -->
            <!-- <p class="mt-2 text-xs text-center text-slate-200">Thanks for subscribing!</p> -->
        </div>
    </div>
</div>
