{% set_meta_title 'Service Agreement' %}

<main class="grow">
  <section>
    <div class="max-w-7xl px-4 mx-auto sm:px-6">
      <div class="pt-6 md:pt-12">
          <h1 class="h3 my-2">【{{ site.name }} 】免责声明</h1>
          <hr/>
          <ul class="list-inside space-y-2 mt-4 pl-8">
            <li>1、发表者所有言论和图片纯属个人意见，与本站立场无关；</li>
            <li>2、其他单位或个人使用、转载或引用本站文章时必须征得作者和本站的同意；</li>
            <li>3、发表者若有部分内容转载自其它媒体并在本站发布，转载的目的在于传递更多信息，并不代表本站赞同其观点和对其真实性负责；</li>
            <li>4、部分帖子内容如有涉及版权问题，请立即告知本站，本站将及时予与删除；</li>
            <li>5、本站管理员和版主保留不事先通知发帖者而删除帖子的权利。</li>
          </ul>
      </div>
      <!-- en -->
      <div class="pt-6 md:pt-12">
          <h1 class="h3 my-2">【{{ site.name }} Service Agreement</h1>
          <hr/>
          <ul class="list-inside space-y-2 mt-4 pl-8">
            <li>1. All comments and pictures of the publisher are purely personal opinions and have nothing to do with the position of this website;</li>
            <li>2. Other units or individuals must obtain the consent of the author and this website when using, reprinting or quoting articles on this website;</li>
            <li>3. If the publisher reprints some content from other media and publishes it on this website, the purpose of reprinting is to convey more information, which does not mean that this website agrees with its views and is responsible for its authenticity;</li>
            <li>4. If some posts involve copyright issues, please inform this website immediately and this website will delete them in time;</li>
            <li>5. The administrators and moderators of this website reserve the right to delete posts without prior notice to the poster.</li>
          </ul>
      </div>
    </div>
  </section>
</main>
